# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np
import os
import scipy.stats as stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
salaries=pd.read_csv('../your-code/Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries.columns=salaries.columns.str.lower().str.replace(" ",'_')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

name                     0
job_titles               0
department               0
full_or_part-time        0
salary_or_hourly         0
typical_hours        25161
annual_salary         8022
hourly_rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries.groupby('salary_or_hourly')['department'].count()

salary_or_hourly
Hourly     8022
Salary    25161
Name: department, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
pd.crosstab(salaries['department'],salaries['salary_or_hourly'])

salary_or_hourly       Hourly  Salary
department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [10]:
sample_1=salaries.query('`salary_or_hourly`=="hourly"')['hourly_rate']
sample_1=salaries.loc[salaries['salary_or_hourly']=='Hourly','hourly_rate']
bmean_value=30

In [13]:
# Your code here:
_,pvalue= stats.ttest_1samp(salaries['hourly_rate'].dropna(),30)
if pvalue<0.05:
    print('The hourly salary is diferent from 30')
else:
    print('The hourly salary is equal to 30')

The hourly salary is diferent from 30

In [44]:
stats.shapiro(salaries['hourly_rate'].dropna())

c:\ProgramData\anaconda3\Lib\site-packages\scipy\stats\_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

ShapiroResult(statistic=0.930728554725647, pvalue=0.0)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [18]:
police_salary=salaries.loc[(salaries['department']=='POLICE')&(salaries['salary_or_hourly']=='Salary'),'annual_salary']
mean_police=86000
_,pvalue= stats.ttest_1samp(police_salary,mean_police,alternative='greater')
if pvalue<0.05:
    print('The hourly salary is diferent from 86000')
else:
    print('The hourly salary is equal to 86000')

The hourly salary is diferent from 86000

In [51]:
# Your code here:
_,pvalue=stats.ttest_1samp(salaries['annual_salary'].dropna(),86000)

pvalue.round(2)

0.0

Using the `crosstab` function, find the department that has the most hourly workers.

In [57]:
# Your code here:
pd.crosstab(salaries['department'],salaries['salary_or_hourly']).sort_values(by='Hourly',ascending=False).head(5)

salary_or_hourly  Hourly  Salary
department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [70]:
# Your code here:
filter_group = salaries[(salaries['department']=='STREETS & SAN') & (salaries['salary_or_hourly']=='Hourly')]
_,pvalue=stats.ttest_1samp(filter_group['hourly_rate'],35)
pvalue.round(2)

0.0

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [23]:
# Your code here:
sample_2=salaries.loc[salaries['salary_or_hourly']=='Hourly','hourly_rate']
mean=sample_2.mean()
standard_error=stats.sem(sample_2,axis=0,ddof=len(sample_2)-1,nan_policy='omit',keepdims=False)

stats.t.interval(0.05,df=len(sample_2)-1,scale= standard_error,loc=mean)

(32.029040887731604, 33.54807454482887)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [24]:
from statsmodels.stats.proportion import proportions_ztest
proportions_ztest(salaries['salary_or_hourly'].value_counts()['Hourly'],nobs=salaries['salary_or_hourly'].value_counts().sum(),value=0.25)

(-3.5099964213703005, 0.0004481127249057967)